package {{.Domain}}

import (
	"github.com/gin-gonic/gin"
)

func RegisterV1(r *gin.RouterGroup, ctrl IController) error {
	g := r.Group("/v1/{{.Domain}}")
	{
        g.POST("/:id", ctrl.Create{{.DomainTitle}})
        g.DELETE("/:id", ctrl.Delete{{.DomainTitle}})
		g.PUT("/auth", ctrl.Update{{.DomainTitle}})
	}
	return nil
}
