package {{.Domain}}

import (
	"github.com/gin-gonic/gin"
	"github.com/google/wire"
	"{{.Module}}/internal/domain/{{.DomainTitle}}/infrastructure"
	"{{.Module}}/pkg/repository"
)

func InitV1(r *gin.RouterGroup) error {
	wire.Build(
		RegisterV1,
		NewController,
		NewService,
		repository.GormDB,
		repository.RedisClient,
		infrastructure.NewDB,
		infrastructure.NewCache,
	)
	return nil
}
